.date {
	padding-top:20px;
	padding-bottom:20px;
	padding-right:1px;
	padding-left:1px;
	color:#1F497D;
	font-size:18.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	text-align:center;

	}
.time {
	padding-top:5px;
	padding-bottom:5px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	text-align:center;
	vertical-align:middle;
	border:1px solid;
	}
.event {
	padding-top:5px;
	padding-bottom:5px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:14.0pt;
	font-weight:400;
	font-family:Arial, sans-serif;
	text-align:center;
	vertical-align:middle;
	border:1px solid;
	background:#FDE9D9;
	}
.sessionFirstType {
	padding-top:1px;
	padding-bottom:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:15.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	text-align:center;
	vertical-align:middle;
	border:1px solid;
	background:#d9dada;
	}
.sessionFirstTypeList {
	padding-top:1px;
	padding-bottom:1px;
	padding-right:1px;
	padding-left:20px;
	color:black;
	font-size:15.0pt;
	font-weight:400;
	font-family:Arial, sans-serif;
	text-align:left;
	vertical-align:middle;
	border:1px solid;
	background:#d9dada;
	}
.sessionFirstType:hover{
	background-color: #c0c8cd;
    box-shadow:1px 1px 1px #333;
	-moz-box-shadow:1px 1px 1px #333;
    -webkit-box-shadow:1px 1px 1px #333;
	}	
.sessionSecondType {
	padding-top:1px;
	padding-bottom:1px;
	padding-right:1px;
	padding-left:1px;
	text-align:center;
	border:1px solid;
	background:#d9dada;
	}
.sessionSecondType:hover{
	background-color: #c0c8cd;
    box-shadow:1px 1px 1px #333;
	-moz-box-shadow:1px 1px 1px #333;
    -webkit-box-shadow:1px 1px 1px #333;
	}
.sessionThirdType {
	padding-top:1px;
	padding-bottom:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:13.5pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	text-align:center;
	vertical-align:middle;
	border:1px solid;
	background:#d9dada;
	}
.sessionThirdType:hover{
	background-color: #c0c8cd;
    box-shadow:1px 1px 1px #333;
	-moz-box-shadow:1px 1px 1px #333;
    -webkit-box-shadow:1px 1px 1px #333;
	}	
.sessionFirstTypeDiv{
	color:black;
	padding-top:32px;
	padding-bottom:32px;
	
	}
.sessionSecondTypeDiv {
	color:black;
	padding-top:24px;
	padding-bottom:24px;
	}
.sessionFont1{
	font-size:15.0pt;
	font-weight:700;
	font-style:normal;
	font-family:Arial, sans-serif;
	}
.sessionFont2 {
	font-size:15.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial, sans-serif;
	}
a {
	text-decoration:none;
	}

div.text{
	text-align:left;
	font-size: 15.0pt;
	padding-left: 20pt;
	}
div.textSmall{
	text-align:left;
	font-size: 12.0pt;
	padding-left: 20pt;
	padding-right: 10pt;
	font-family:Arial, sans-serif;
	}
.header {
	text-align:center;
	}
.sessionName, .workshopName {
	text-align:center;
	font-family:Arial, sans-serif;
	font-size:16.0pt;
	font-weight:600;
	}
.workshopSessionName{
	text-align:center;
	font-family:Arial, sans-serif;
	font-size:14.0pt;
	font-weight:600;
	}
.location{
	font-family:Arial, sans-serif;
	font-size:14.0pt;
	font-weight:600;
	}
.presentationName{
	font-family:Arial, sans-serif;
	text-align:center;
	font-size:13.0pt;
	font-weight:600;
}
.allPresentations, .workshopDescription{
	font-family:Arial, sans-serif;
	font-size:12.0pt;
	font-weight:400;
}

.room, .organizers, .website{
	font-family:Arial, sans-serif;
	font-size:13.0pt;
	font-weight:400;
	}

.backbutton {

height: 35px;
width: 90px;
font-family: Arial, serif; 
font-weight: bold;
text-align: right;
color: black;
    font-size:14px;
	 line-height: 95%;
    background: url(img/backbtn.png) 0 0 ;
    border:0px solid #c0c8cd;
    border-radius:6px;
clear: left;
margin: 5px;
margin-left: 20px;
}

.bigbutton {

height: 35px;
width: 150px;
font-family: Arial, serif; 
font-weight: bold;
text-align: center;
color: black;
    font-size:14px;
	 line-height: 95%;
    background: url(img/bigbtn.png) 0 0 ;
    border:0px solid #c0c8cd;
    border-radius:6px;

margin: 5px;
margin-left: 20px;
}





