.zitem {
    width:410px;
    height:594px;  
    border:1px solid #222; 
    margin:5px 5px 5px 0;
    
    /* required to hide the image after resized */
    overflow:hidden;
     

     
    /* display div in line */
    float:left;
}
 
.zitem .caption {
    width:210px;
    height:30px;
    background:#000;
    color:#fff;
         
    /* fix it at the bottom */
    position:absolute;
bottom: -1px;
    left:0;
 
    /* hide it by default */
    display:none;
 
    /* opacity setting */
    filter:alpha(opacity=80);    /* ie  */
    -moz-opacity:0.8;    /* old mozilla browser like netscape  */
    -khtml-opacity: 0.8;    /* for really really old safari */ 
    opacity: 0.8;    /* css standard, currently it works in most modern browsers like firefox,  */
 
}
 
.zitem .caption a {
    text-decoration:none;
    color:#fff;
    font-size:20px;
     
    /* add spacing and make the whole row clickable*/
    padding:5px;
    display:block;
}
 
